$body-bg                 : #ffffff;
$primary                 : #153848;

$secondary               : #0d6a91;
$danger                  : #ff0000;
$info                    : #1e90ff;
$warning                 : #ed6c02;

$font-family-sans-serif  : 'Open Sans', sans-serif !default;
$enable-negative-margins : true !default;
$enable-gradients        : true !default;
